*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto';
    color: hsl(234, 29%, 20%);
}

p{
    font-size: 16px;
    font-weight: 400;
}

#signUp{
    display: flex;
    flex-direction: column;
}

#content{
    display: flex;
    flex-direction: column;
    padding: 25px 30px 30px 30px;
}

#content h2{
    margin: 0;
    font-weight: 700;
    font-size: 38px;
}

#content p{
    margin-bottom: 0;
}

#content ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content li{
    list-style-type: none;
    padding-left: 30px;
    min-height: 30px;
    background: url(./images/icon-list.svg);
    background-repeat: no-repeat;
}

#content li:nth-last-of-type(2){
    margin-top: 5px;
}

#desktopImage{
    display: none;
}

#signUp{
    display: block;
}

#subscriptionForm{
    display: flex;
    flex-direction: column;
}

#emailLabels{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#errorMessage{
    color: rgb(241, 77, 49);
    display: none;
}

#subscriptionForm label{
    font-weight: 700;
    font-size: 12px;
}

#subscriptionForm input{
    margin: 10px 0 20px 0;
    padding: 15px;
    border-radius: 7px;
    border: 1px hsl(231, 7%, 60%) solid;
}

#subscriptionForm button{
    padding: 15px;
    color: #fff;
    background-color: hsl(234, 29%, 20%);
    border-radius: 7px;
    border: 0;
    cursor: pointer;
}

#subscriptionForm button:active{
    background-color: hsl(4, 100%, 67%);
}

#successMessage{
    height: 100vh;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#successContainer{
    margin-top: 100px;
}

#successContainer h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

#email{
    font-weight: 700;
}

#dismissButton{
    width: 100%;
    background-color: hsl(235, 18%, 26%);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#dismissButton:active{
    background: hsl(4, 100%, 67%);
}

@media screen and (min-width: 760px) {
    #mobileImage{
        display: none;
    }

    #desktopImage{
        display: block;
    }

    #signUp{
        flex-direction: row;
        height: 450px;
        padding: 20px;
    }
}

@media screen and (min-width: 570px) {
    #signUp{
        display: flex;
    }

    #mobileImage{
        margin-left: 30px;
    }

    #container{
        background-color: #fff;
        max-width: 700px;
        border-radius: 30px;
    }

    #bg-main{
        background-color: hsl(234, 29%, 20%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #successMessage{
        height: 430px;
        width: 390px;
        padding: 40px;
    }

    #successContainer{
        margin: 0;
    }
}